.card {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 290px;
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid rgb(15, 15, 16);
    margin: 10px;
    box-shadow: 5px 5px 15px 5px rgb(14, 14, 15);
 }
 .card-image {
    position: relative; 
    height: 200px;
    width: 100%;

 }
 .card-image > img {
     width: 20rem; 
    position: absolute;
    height: 200px;
    object-fit:fill;
    object-position:100%;
 }
 .card-description{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    margin-top: 5px;
    align-items: center;
    background-color: #fcfcfc;
 }
 .card-button-add{
  display: flex;
   height: 1rem;
   width: 3rem;
 }
 

/* CSS */
#add-button {
        font-size: 16px;
        font-weight:700;
        color: #dec12f;;
        background-color: #403b3b;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 12px 24px;
        position: relative;
        line-height: 24px;
        border-radius: 9px;
        transform-style: preserve-3d;
        transform: scale(var(--s, 1)) perspective(600px)
          rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
        perspective: 600px;
        transition: transform 0.1s;
      }
      #add-button:active {
        transition: 0.3s;
        transform: scale(0.93);
      }
.btn button{
  height: 30px;
  width: 30px;
  background-color: #403b3b;
  color: #dec12f;
  font-weight: 400;
}
.num p{
  display: flex;
  max-width: 30px;
  text-align: center;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
}


@media screen and (max-width:930px){
  .card{
   
    width:450px ;
    display: flex;
    flex-direction: column;
  }

}