.foot
{
    display: flex;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 5%;
    background-color: black;
    color: white;
    padding-top: 20px;
    height: 200px;
}
.foot1 li{
padding: 10px;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type:none;
}