
.hero{
    display: flex;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    overflow-x: hidden;
    /* margin-top: 20px; */
    background-color: #dec12f;
}
.text{
    width: 50%;
    margin-top: 80px;
    }
    .btn{
        display: inline-block;
    }
    #rating{
        margin-top: 20px;
        width: 8rem;
        height: 3rem;
    }
    #order{
        height: 2.5rem;
        width: 8rem;
        border-radius: 84px;
        background-color: black;
        color: #dec12f;
        border: none;
    }
    #play{
        height: 57px;
        width: 57px;
    }
.image{
    width: 50%;
    justify-content: flex-end;
    img{
        width: 500px;
    }
}

@media screen and (max-width:1020px){
    .hero{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;

    }
    .text{
        width: 100%;
        justify-items: center;
    }
    .foodimg{
        width: 100%;
    }
}
